<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cobia="http://code.lam.com/schema/cobia"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.lam.com/schema/cobia http://code.lam.com/schema/cobia/cobia.xsd">

	<!--<cobia:registry type="zookeeper" address="192.168.20.112:2181"/>-->

	<cobia:registry type="direct" address="127.0.0.1:4325"/>

	<cobia:reference id="myService" interface="lam.cobia.demo.service.IMyService" registry="direct" serviceServer="127.0.0.1:4325"/>
	
	<cobia:reference id="yourService" interface="lam.cobia.demo.service.IYourService" registry="direct" serviceServer="127.0.0.1:4325"/>
	
</beans>